/* ניסיון לבנות CSS על הדף */

/* .headers_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
main{
    background-image: url('https://noblecollection.fr/img/N/NN8744_1080.webp');
    
    border-radius: 10px;

} */


